# Environment & Secrets
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.sqlite
*.db

# Node
node_modules/
dist/
.next/
out/
build/
.turbo/
npm-debug.log*

# Media & Cache
/episodes/*.mp3
/storage/audio/
.cache/

# OS & IDE
.DS_Store
.vscode/
.idea/
